# dependencies
/node_modules

# vite build output
/dist

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.env*
!.env.production

# editors
.vscode/
.idea/
.DS_Store

# (не нужна для Vite, но не мешает)
.vercel

# если вдруг были от next.js — можно оставить
/.next/
